.formContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.formContainer input, select, textarea {
    margin: 5px;
    margin-bottom: 15px;
}

textarea {
    resize: none;
}