body {
  width: 100%;
  height: 100%;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:
    linear-gradient(to bottom, rgb(0, 0, 0), rgba(117, 19, 93, 0)),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/0bd3a69d-6790-4edc-9818-1c8c558946c2/47783156-7208-4cf5-be14-5b14e6260b2a/IT-it-20220329-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
}

.App-logo {
  height: 10vmin;
  position: absolute;
  top: 0;
  left: 0;
}

.title {
  top: 20vh;
}

.nav-items {
  position: absolute;
  right: 0;
  top: 0;
}

.nav-items button {
  padding: 10px;
  margin: 10px;
  background-color: #a70000;
  border-color: #a70000;
  /* border-radius: 10%; */
  /* color: white; */
}

.red {
  background-color: #a70000;
  border-color: #a70000;
}

.App-header {
  display: block;
  margin-top: 20vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cardContainerExt {
  display: block;
  align-items: left;
  justify-content: left;
  color: white;
}

li {
  float: left;
  list-style: none;
}

li div {
  display: inline-block;
  text-align: center;
  margin: 14px 16px;
  cursor: pointer;
}

